DATABASE_URL="postgresql://postgre:562000@localhost:5432/nekofix?schema=public"
JWT_SECRET="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30"
JWT_EXPIRES_IN="7d"
PORT=3005
CORS_ORIGIN="http://localhost:3001"
SEED_ADMIN_PASSWORD="Admin123!"
